/* theme dark */
.bg-black{
  background-color: black;
}
.bg-light-black{
  background-color: #262626 !important;
}
.text-black{
  color: black;
}
.text-light-black{
  color: #262626;
}
.bg-dark-primary{
  background-color: #fcbc73 !important;
}
.text-dark-primary{
  color: #fcbc73 !important;
}

/* theme light */
.bg-light{
  background-color: white;
}
.bg-light-2{
  background-color: #dadcde;
}
.bg-light-primary{
  background-color: #191659 !important;
}
.text-light-primary{
  color: #191659 !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}